<a href="https://colab.research.google.com/github/Molal/Advanced-Python-class/blob/main/Assignement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#creating a database connection
import sqlite3 as sql3

connection = sql3.connect('MachineLearning.db')

current = connection.cursor()

In [ ]:
#import os
#os.getcwd()

In [ ]:
#creating the table and call it students 
current = connection.cursor() 
current.execute('''CREATE TABLE student
                  (id real, Fname text,Lname text,continent text ,country text,city text,course text)''')

In [ ]:
# create table two and call it Courses 
current = connection.cursor()
current.execute('''CREATE TABLE courses
                (id real, coursename text)''')

In [ ]:
# insert the field created above 
'''current.execute("INSERT INTO student VALUES 
                (1, 'Nicholas', 'Okello', 'Africa', 'Kenya', 'Nairobi', 'Advanced Python'),
                (2, 'Tim', 'Kabugi', 'Africa', 'Kenya', 'Nairobi', 'Advanced Python'), 
                (3, 'John', 'Were', 'Africa', 'Kenya', 'Nairobi', 'Advanced Python'), 
                (4, 'Olal', 'Darick', 'Africa', 'Kenya', 'Nairobi', 'Advanced Python'),
                (5, 'Esther', 'Wambui', 'Africa', 'Kenya', 'Nairobi', 'Machine Learning'), 
                (6, 'George', 'Ndede', 'N. America', 'USA', 'Dallas', 'Artificial Intelligence')
                ");'''

'current.execute("INSERT INTO student VALUES \n                (1, \'Nicholas\', \'Okello\', \'Africa\', \'Kenya\', \'Nairobi\', \'Advanced Python\'),\n                (2, \'Tim\', \'Kabugi\', \'Africa\', \'Kenya\', \'Nairobi\', \'Advanced Python\'), \n                (3, \'John\', \'Were\', \'Africa\', \'Kenya\', \'Nairobi\', \'Advanced Python\'), \n                (4, \'Olal\', \'Darick\', \'Africa\', \'Kenya\', \'Nairobi\', \'Advanced Python\'),\n                (5, \'Esther\', \'Wambui\', \'Africa\', \'Kenya\', \'Nairobi\', \'Machine Learning\'), \n                (6, \'George\', \'Ndede\', \'N. America\', \'USA\', \'Dallas\', \'Artificial Intelligence\')\n                ");'

In [ ]:
'''current.execute("INSERT INTO courses VALUES
                  (1, 'Advanced python'),
                  (2, 'Machine Learning), 
                  (3, 'Introduction to Data Science'), 
                  (4, 'Artificial intelligence'), 
                  (5, 'Introduction to python'), 
                  (6, 'Data Management'),
                  (7, 'Introduction to Linux administration'), 
                  (8, 'Introduction to AWS foundations'),
                  (9, 'python system administration')"); '''

'current.execute("INSERT INTO courses VALUES\n                  (1, \'Advanced python\'),\n                  (2, \'Machine Learning), \n                  (3, \'Introduction to Data Science\'), \n                  (4, \'Artificial intelligence\'), \n                  (5, \'Introduction to python\'), \n                  (6, \'Data Management\'),\n                  (7, \'Introduction to Linux administration\'), \n                  (8, \'Introduction to AWS foundations\'),\n                  (9, \'python system administration\')"); '

In [ ]:
#save the commited query
connection.cursor()

In [ ]:
#close the connection
connection.close()